<header class="site-header">
  <div class="container">
    <a href="{{ site.baseurl }}/" class="site-logo">
      <img src="{{ site.baseurl }}/assets/devops-banner.png" alt="DevOps Den Logo" height="40">
    </a>
    <nav class="site-nav">
      <ul>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/guides/kubernetes/">Kubernetes</a></li>
        <li><a href="{{ site.baseurl }}/guides/github-actions/">GitHub Actions</a></li>
        <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
        <li><a href="{{ site.baseurl }}/discussions/">Discussions</a></li>
      </ul>
    </nav>
  </div>
</header>
